/* Color Tokens Light Theme */
:root,
:root[data-theme='light'] {
  --liblab-elements-borderColor: theme('colors.alpha.gray.10');
  --accent: theme('colors.accent.600');
  --liblab-elements-borderColorSecondary: theme('colors.gray.900');

  --depth-1: theme('colors.white');
  --depth-2: theme('colors.gray.50');
  --depth-3: theme('colors.gray.200');
  --depth-4: theme('colors.alpha.gray.5');

  --primary: theme('colors.gray.950');
  --secondary: theme('colors.gray.600');
  --tertiary: theme('colors.gray.500');

  --liblab-elements-code-background: theme('colors.gray.100');
  --liblab-elements-code-text: theme('colors.gray.950');

  --liblab-elements-button-primary-background: theme('colors.alpha.accent.10');
  --liblab-elements-button-primary-backgroundHover: theme('colors.alpha.accent.20');
  --liblab-elements-button-primary-text: theme('colors.accent.500');

  --liblab-elements-button-secondary-background: theme('colors.alpha.gray.5');
  --liblab-elements-button-secondary-backgroundHover: theme('colors.alpha.gray.10');
  --liblab-elements-button-secondary-text: theme('colors.gray.950');

  --liblab-elements-button-danger-background: theme('colors.alpha.red.10');
  --liblab-elements-button-danger-backgroundHover: theme('colors.alpha.red.20');
  --liblab-elements-button-danger-text: theme('colors.red.500');

  --liblab-elements-item-contentDefault: theme('colors.alpha.gray.50');
  --liblab-elements-item-contentActive: theme('colors.gray.950');
  --liblab-elements-item-contentDanger: theme('colors.red.500');
  --liblab-elements-item-backgroundDefault: rgba(0, 0, 0, 0);
  --liblab-elements-item-backgroundActive: theme('colors.alpha.gray.5');
  --liblab-elements-item-backgroundAccent: theme('colors.alpha.accent.10');
  --liblab-elements-item-backgroundDanger: theme('colors.alpha.red.10');

  --liblab-elements-loader-background: theme('colors.alpha.gray.10');
  --liblab-elements-loader-progress: theme('colors.accent.500');

  --liblab-elements-artifacts-background: theme('colors.white');
  --liblab-elements-artifacts-backgroundHover: theme('colors.accent.500');
  --liblab-elements-artifacts-borderColor: var(--liblab-elements-borderColor);
  --liblab-elements-artifacts-inlineCode-text: var(--color-primary);

  --liblab-elements-actions-background: theme('colors.white');
  --liblab-elements-actions-code-background: theme('colors.gray.800');

  --liblab-elements-messages-linkColor: theme('colors.accent.500');
  --liblab-elements-messages-code-background: theme('colors.gray.800');
  --liblab-elements-messages-inlineCode-background: theme('colors.gray.200');
  --liblab-elements-messages-inlineCode-text: theme('colors.gray.800');

  --liblab-elements-icon-success: theme('colors.green.500');
  --liblab-elements-icon-error: theme('colors.red.500');
  --liblab-elements-icon-primary: theme('colors.gray.950');
  --liblab-elements-icon-secondary: theme('colors.gray.600');
  --liblab-elements-icon-tertiary: theme('colors.gray.500');

  --liblab-elements-dividerColor: theme('colors.gray.100');

  --liblab-elements-prompt-background: theme('colors.alpha.white.80');

  --liblab-elements-sidebar-dropdownShadow: theme('colors.alpha.gray.10');
  --liblab-elements-sidebar-buttonBackgroundDefault: theme('colors.alpha.accent.10');
  --liblab-elements-sidebar-buttonBackgroundHover: theme('colors.alpha.accent.20');
  --liblab-elements-sidebar-buttonText: theme('colors.accent.700');

  --liblab-elements-preview-addressBar-background: theme('colors.gray.100');
  --liblab-elements-preview-addressBar-backgroundHover: theme('colors.alpha.gray.5');
  --liblab-elements-preview-addressBar-backgroundActive: theme('colors.white');
  --liblab-elements-preview-addressBar-text: var(--color-secondary);
  --liblab-elements-preview-addressBar-textActive: var(--color-primary);

  --liblab-elements-terminals-background: theme('colors.white');
  --liblab-elements-terminals-buttonBackground: var(--color-depth-4);

  --liblab-elements-cta-background: theme('colors.gray.100');
  --liblab-elements-cta-text: theme('colors.gray.950');

  /* Terminal Colors */
  --liblab-terminal-background: var(--liblab-elements-terminals-background);
  --liblab-terminal-foreground: #333333;
  --liblab-terminal-selection-background: #00000040;
  --liblab-terminal-black: #000000;
  --liblab-terminal-red: #cd3131;
  --liblab-terminal-green: #00bc00;
  --liblab-terminal-yellow: #949800;
  --liblab-terminal-blue: #0451a5;
  --liblab-terminal-magenta: #bc05bc;
  --liblab-terminal-cyan: #0598bc;
  --liblab-terminal-white: #555555;
  --liblab-terminal-brightBlack: #686868;
  --liblab-terminal-brightRed: #cd3131;
  --liblab-terminal-brightGreen: #00bc00;
  --liblab-terminal-brightYellow: #949800;
  --liblab-terminal-brightBlue: #0451a5;
  --liblab-terminal-brightMagenta: #bc05bc;
  --liblab-terminal-brightCyan: #0598bc;
  --liblab-terminal-brightWhite: #a5a5a5;
}

/* Color Tokens Dark Theme */
:root,
:root[data-theme='dark'] {
  --liblab-elements-borderColor: theme('colors.gray.800');
  --accent: theme('colors.accent.500');
  --liblab-elements-borderColorSecondary: theme('colors.gray.900');

  --depth-1: theme('colors.gray.950');
  --depth-2: theme('colors.gray.900');
  --depth-3: theme('colors.gray.800');
  --depth-4: theme('colors.gray.700');

  --primary: theme('colors.gray.100');
  --secondary: theme('colors.gray.400');
  --tertiary: theme('colors.gray.500');

  --liblab-elements-code-background: theme('colors.gray.800');
  --liblab-elements-code-text: theme('colors.white');

  --liblab-elements-button-primary-background: theme('colors.alpha.accent.10');
  --liblab-elements-button-primary-backgroundHover: theme('colors.alpha.accent.20');
  --liblab-elements-button-primary-text: theme('colors.gray.900');

  --liblab-elements-button-secondary-background: theme('colors.alpha.white.5');
  --liblab-elements-button-secondary-backgroundHover: theme('colors.alpha.white.10');
  --liblab-elements-button-secondary-text: theme('colors.white');

  --liblab-elements-button-danger-background: theme('colors.alpha.red.10');
  --liblab-elements-button-danger-backgroundHover: theme('colors.alpha.red.20');
  --liblab-elements-button-danger-text: theme('colors.red.500');

  --liblab-elements-item-contentDefault: theme('colors.alpha.white.50');
  --liblab-elements-item-contentActive: theme('colors.white');
  --liblab-elements-item-contentAccent: theme('colors.accent.500');
  --liblab-elements-item-contentDanger: theme('colors.red.500');
  --liblab-elements-item-backgroundDefault: rgba(255, 255, 255, 0);
  --liblab-elements-item-backgroundActive: theme('colors.alpha.white.10');
  --liblab-elements-item-backgroundAccent: theme('colors.alpha.accent.10');
  --liblab-elements-item-backgroundDanger: theme('colors.alpha.red.10');

  --liblab-elements-loader-background: theme('colors.alpha.gray.10');
  --liblab-elements-loader-progress: theme('colors.accent.500');

  --liblab-elements-artifacts-background: theme('colors.gray.900');
  --liblab-elements-artifacts-backgroundHover: theme('colors.alpha.gray.50');
  --liblab-elements-artifacts-borderColor: var(--liblab-elements-borderColor);
  --liblab-elements-artifacts-borderColor-secondary: var(--liblab-elements-borderColor-secondary);

  --liblab-elements-actions-background: theme('colors.gray.900');
  --liblab-elements-actions-code-background: theme('colors.gray.800');

  --liblab-elements-messages-background: theme('colors.gray.800');
  --liblab-elements-messages-linkColor: theme('colors.accent.500');
  --liblab-elements-messages-code-background: theme('colors.gray.900');
  --liblab-elements-messages-inlineCode-background: theme('colors.gray.800');
  --liblab-elements-messages-inlineCode-text: var(--color-primary);

  --liblab-elements-icon-success: theme('colors.green.400');
  --liblab-elements-icon-error: theme('colors.red.400');
  --liblab-elements-icon-primary: theme('colors.gray.950');
  --liblab-elements-icon-secondary: theme('colors.gray.600');
  --liblab-elements-icon-tertiary: theme('colors.accent.500');
  --liblab-elements-icon-background: theme('colors.gray.300');

  --liblab-elements-dividerColor: theme('colors.gray.100');

  --liblab-elements-prompt-background: theme('colors.alpha.gray.80');

  --liblab-elements-sidebar-dropdownShadow: theme('colors.alpha.gray.30');
  --liblab-elements-sidebar-buttonBackgroundDefault: theme('colors.alpha.accent.10');
  --liblab-elements-sidebar-buttonBackgroundHover: theme('colors.alpha.accent.20');
  --liblab-elements-sidebar-buttonText: theme('colors.accent.500');

  --liblab-elements-preview-addressBar-background: var(--color-depth-1);
  --liblab-elements-preview-addressBar-backgroundHover: theme('colors.alpha.white.5');
  --liblab-elements-preview-addressBar-backgroundActive: var(--color-depth-1);
  --liblab-elements-preview-addressBar-text: var(--color-secondary);
  --liblab-elements-preview-addressBar-textActive: var(--color-primary);

  --liblab-elements-terminals-background: var(--color-depth-1);
  --liblab-elements-terminals-buttonBackground: var(--color-depth-3);

  --liblab-elements-cta-background: theme('colors.alpha.white.10');
  --liblab-elements-cta-text: theme('colors.white');

  /* Terminal Colors */
  --liblab-terminal-background: var(--liblab-elements-terminals-background);
  --liblab-terminal-foreground: #eff0eb;
  --liblab-terminal-selection-background: #97979b33;
  --liblab-terminal-black: #000000;
  --liblab-terminal-red: #ff5c57;
  --liblab-terminal-green: #5af78e;
  --liblab-terminal-yellow: #f3f99d;
  --liblab-terminal-blue: #57c7ff;
  --liblab-terminal-magenta: #ff6ac1;
  --liblab-terminal-cyan: #9aedfe;
  --liblab-terminal-white: #f1f1f0;
  --liblab-terminal-brightBlack: #686868;
  --liblab-terminal-brightRed: #ff5c57;
  --liblab-terminal-brightGreen: #5af78e;
  --liblab-terminal-brightYellow: #f3f99d;
  --liblab-terminal-brightBlue: #57c7ff;
  --liblab-terminal-brightMagenta: #ff6ac1;
  --liblab-terminal-brightCyan: #9aedfe;
  --liblab-terminal-brightWhite: #f1f1f0;
}

/*
 * Element Tokens
 *
 * Hierarchy: Element Token -> (Element Token | Color Tokens) -> Primitives
 */
:root {
  --header-height: 60px;
  --homepage-textarea-max-width: 45rem;
  --chat-max-width: 530px;
  --chat-min-width: 530px;
  --workbench-width: min(calc(100vw - var(--chat-min-width)), 2536px);
  --workbench-inner-width: var(--workbench-width);
  --workbench-left: calc(100% - var(--workbench-width));

  /* Terminal */
  --liblab-elements-terminal-backgroundColor: var(--liblab-terminal-background);
  --liblab-elements-terminal-textColor: var(--liblab-terminal-foreground);
  --liblab-elements-terminal-cursorColor: var(--liblab-terminal-foreground);
  --liblab-elements-terminal-selection-backgroundColor: var(--liblab-terminal-selection-background);
  --liblab-elements-terminal-color-black: var(--liblab-terminal-black);
  --liblab-elements-terminal-color-red: var(--liblab-terminal-red);
  --liblab-elements-terminal-color-green: var(--liblab-terminal-green);
  --liblab-elements-terminal-color-yellow: var(--liblab-terminal-yellow);
  --liblab-elements-terminal-color-blue: var(--liblab-terminal-blue);
  --liblab-elements-terminal-color-magenta: var(--liblab-terminal-magenta);
  --liblab-elements-terminal-color-cyan: var(--liblab-terminal-cyan);
  --liblab-elements-terminal-color-white: var(--liblab-terminal-white);
  --liblab-elements-terminal-color-brightBlack: var(--liblab-terminal-brightBlack);
  --liblab-elements-terminal-color-brightRed: var(--liblab-terminal-brightRed);
  --liblab-elements-terminal-color-brightGreen: var(--liblab-terminal-brightGreen);
  --liblab-elements-terminal-color-brightYellow: var(--liblab-terminal-brightYellow);
  --liblab-elements-terminal-color-brightBlue: var(--liblab-terminal-brightBlue);
  --liblab-elements-terminal-color-brightMagenta: var(--liblab-terminal-brightMagenta);
  --liblab-elements-terminal-color-brightCyan: var(--liblab-terminal-brightCyan);
  --liblab-elements-terminal-color-brightWhite: var(--liblab-terminal-brightWhite);
}
