:root {
  --cm-backgroundColor: var(--color-depth-1);
  --cm-textColor: var(--color-primary);

  /* Gutter */

  --cm-gutter-backgroundColor: var(--cm-backgroundColor);
  --cm-gutter-textColor: var(--color-secondary);
  --cm-gutter-activeLineTextColor: var(--cm-gutter-textColor);

  /* Fold Gutter */

  --cm-foldGutter-textColor: var(--cm-gutter-textColor);
  --cm-foldGutter-textColorHover: var(--cm-gutter-textColor);

  /* Active Line */

  --cm-activeLineBackgroundColor: rgb(224 231 235 / 30%);

  /* Cursor */

  --cm-cursor-width: 2px;
  --cm-cursor-backgroundColor: var(--color-secondary);

  /* Matching Brackets */

  --cm-matching-bracket: rgb(50 140 130 / 0.3);

  /* Selection */

  --cm-selection-backgroundColorFocused: #42b4ff;
  --cm-selection-backgroundOpacityFocused: 0.3;
  --cm-selection-backgroundColorBlured: #c9e9ff;
  --cm-selection-backgroundOpacityBlured: 0.3;

  /* Panels */

  --cm-panels-borderColor: var(--color-depth-2);

  /* Search */

  --cm-search-backgroundColor: var(--cm-backgroundColor);
  --cm-search-textColor: var(--color-secondary);
  --cm-search-closeButton-backgroundColor: transparent;

  --cm-search-closeButton-backgroundColorHover: var(--color-depth-2);

  --cm-search-closeButton-textColor: var(--color-secondary);

  --cm-search-closeButton-textColorHover: var(--color-primary);

  --cm-search-button-backgroundColor: rgba(255, 255, 255, 0);

  --cm-search-button-backgroundColorHover: var(--color-depth-2);

  --cm-search-button-textColor: var(--color-secondary);

  --cm-search-button-textColorHover: var(--color-primary);

  --cm-search-button-borderColor: transparent;
  --cm-search-button-borderColorHover: transparent;

  --cm-search-button-borderColorFocused: var(--color-accent);

  --cm-search-input-backgroundColor: transparent;
  --cm-search-input-textColor: var(--color-primary);
  --cm-search-input-borderColor: var(--color-depth-2);

  --cm-search-input-borderColorFocused: var(--color-accent);

  /* Tooltip */

  --cm-tooltip-backgroundColor: var(--cm-backgroundColor);
  --cm-tooltip-textColor: var(--color-primary);

  --cm-tooltip-backgroundColorSelected: rgba(59, 206, 255, 0.3);

  --cm-tooltip-textColorSelected: var(--color-primary);

  --cm-tooltip-borderColor: var(--color-depth-2);

  --cm-searchMatch-backgroundColor: rgba(234, 92, 0, 0.33);
}

html[data-theme='light'] {
  --cm-gutter-textColor: #237893;
  --cm-gutter-activeLineTextColor: var(--color-primary);
  --cm-foldGutter-textColorHover: var(--color-primary);
  --cm-activeLineBackgroundColor: rgb(50 53 63 / 5%);
  --cm-tooltip-backgroundColorSelected: rgba(232, 249, 255, 0.2);
  --cm-search-button-backgroundColor: #f7f7f8;
  --cm-search-button-backgroundColorHover: #e8e9ec;
}

html[data-theme='dark'] {
  --cm-backgroundColor: var(--color-depth-2);
  --cm-gutter-textColor: var(--color-tertiary);
  --cm-gutter-activeLineTextColor: var(--color-secondary);
  --cm-selection-backgroundOpacityBlured: 0.3;
  --cm-activeLineBackgroundColor: rgb(50 53 63 / 50%);
  --cm-foldGutter-textColorHover: var(--color-primary);
  --cm-matching-bracket: rgba(66, 180, 255, 0.3);
  --cm-search-button-backgroundColor: #33373e;
  --cm-search-button-backgroundColorHover: rgba(255, 255, 255, 0.1);
}
